* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.logo-navicons {
    display: flex;
    justify-content: space-between;
}

.navicon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    gap: 10px
}

.nav-searchbar {
    display: flex;
    margin-top: 10px;
    gap: 30px;
    z-index: 6;
    align-items: center;
    justify-content: space-between;
}

.category-link {
    color: black;
    text-decoration: none;
}

.mobile-category-link {
    color: #BCBCBC;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-menu-container {
    display: flex;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    background-color: white;
    left: -110%;
    gap: 15px;
    padding-top: 10px;
    top: 90px;
    width: 100%;
    transition: all 0.2s;
    font-weight: bold;
    z-index: 3;
}


.nav-menu.open {
    left: 0;
}

.burger-menu {
    display: block;
    cursor: pointer;
    margin-left: 30px;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.2s ease;
    background-color: rgb(0, 0, 0);
}

.burger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 25px;
}

.burger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    width: 25px;
}

.searchbar-container {
    display: flex;
    max-height: 35px;
    margin-right: 10px;
}

.searchbar {
    border: solid 1px rgb(0, 0, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 120px;
    padding: 10px 20px 10px 20px;
    font-size: 1em;
}

.searchbar::placeholder {
    font-size: 0.67em;
    color: black;
    font-weight: 500;
}

.searchbar:focus {
    outline: none;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 35px;
    height: 35px;
}

.search-icon {
    height: fit-content;
    width: 13px;
}

.nav-menu-categories-container {
    display: none;
}

.merch-banner {
    text-align: center;
    padding: 15px;
    background-color: #af0e4e;
    color: white;
    letter-spacing: -0.13px;
    font-weight: 500;
    margin-top: 10px;
}

#merch-text-select{
    font-weight: 800;
}

#merch-text-link {
    color: white;
    margin-left: 25px;
    font-weight: 700;
    text-decoration: underline;
}

.tab-menu-container {
    display: none;
}

.tabs a {
    color: #555555;
    text-decoration: none;
}

.tab-menu {
    color: #555555;
}

.desktop-title {
    display: none;
}

.mobile-tab-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 0.6em;
    cursor: pointer;
    border: none;
    position: relative;
}

.dropdown {
    position: absolute;
    width: 250px;
    margin-top: 0.3em;
    background: white;
    border: solid 1px #BCBCBC;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
    transform: translateX(-6.8em)
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: #BCBCBC;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0.3em) translateX(-4.8em);
}

.section-title {
    margin: 10px 0 5px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.separator {
    width: 95%;
    opacity: 10;
    height: 1px;
    background-color: #bcbcbc;
    margin: auto;
    margin-top: 0;
}

.main-container {
    width: 90%;
    margin: auto;
}

.product-section {
    display: grid;
    width: 90%;
    margin: auto;
    gap: 40px;
    grid-template-columns: 1fr;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px
}

.filter-title {
    display: flex;
    gap: 10px;
}

#filter-title-text {
    font-weight: 600;
}

.label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
}


.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #eee;
}


.label:hover input~.checkmark {
    background-color: #ccc;
}

.label input:checked~.checkmark {
    background-color: #000000;
}

.filter-price-ranges{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

#price-range-seemore{
    text-decoration: none;
}

.filter-low-high-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter-low-high-button {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    padding: 10px;
    width: 228px;
    height: 45px;
    border: solid 2px #BCBCBC;
    color: #545454;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.filter-low-high-menu {
    position: relative;
    display: inline-block;
}

.filter-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 218px;
    border-radius: 4px;
    z-index: 1;
}

.filter-content a {
    color: #545454;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter-content a:hover {
    color: #bcbcbc;
}

.filter-low-high-menu:hover .filter-content {
    display: block;
}

.product-card-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 45px;
    gap: 10px;
}

.card {
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    padding: 60px 15px 20px 15px;
    flex-direction: column;
    border: solid 0.5px #bcbcbc;
    border-radius: 4px;
}

.card-name {
    color: #0d5c91;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

.card-price {
    margin: 20px 0 25px 0;
    font-size: 2em;
}

.card-img {
    width: 120px;
    height: fit-content;
    margin: auto;
}

.add-to-cart-button {
    background-color: #0d5c91;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.sale-label {
    position: absolute;
    top: 12px;
    left: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 8px 20px 8px 20px;
    background-color: #af0200;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#coupon {
    font-weight: bold;
}

@media (min-width: 425px) {
    .navicon-container {
        gap: 15px
    }

    .searchbar {
        width: 200px;
    }

    .search-button {
        width: 40px;
        height: 35px;
    }
}

@media (min-width: 768px) {

    .navicon-container {
        gap: 24px;
        margin-right: 13px;
    }

    .nav-searchbar{
        margin-bottom: 3px;
    }

    .searchbar {
        width: 300px;
        font-size: 1em;
    }

    .searchbar::placeholder {
        font-size: 1em;
    }

    .nav-menu-categories-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #F8F8F8;
    }

    .nav-menu-categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
    }

    .mobile-nav-menu-categories {
        display: none;
    }

    .tab-menu-container {
        display: block;
        border: solid #555555 1px;
    }

    .mobile-tab-selector {
        display: none;
    }

    .merch-banner {
        margin-top: 0px;
    }

    .desktop-title {
        display: block;
    }

    .tab-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        padding: 20px;
    }

    .separator {
        width: 100%;
    }

    .product-section {
        grid-template-columns: 1fr 2fr;
        width: 100%;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 10px;
        gap: 30px;
        height: fit-content;
    }

    .filter-container {
        margin-top: 30px;
        font-size: 14px;
    }

    .filter-title {
        width: 100%;
        justify-content: space-between;
    }

    .filter-price-ranges{
        text-align: start;
    }
    

    .filter-low-high-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 98%;
        gap: 10px;
        margin-top: 10px;
    }

    #filter-low-high-button {
        display: flex;
        align-items: center;
        text-align: start;
        cursor: pointer;
    }

    .product-card-container {
        grid-template-columns: 1fr 1fr;
    }

    .card-img {
        width: 162px;
    }

    .card-name {
        font-size: 16px;
    }

    .card-price {
        margin: 40px 0 10px 0;
        font-size: 26px;
        font-weight: 500;
    }

    .card-coupon {
        font-size: 12px;
    }

}

@media (min-width: 1280px) {

    .nav-searchbar {
        margin-top: 0px;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: relative;
        text-align: center;
        background-color: white;
        gap: 30px;
        left: 0;
        top: 0;
        padding: 10px
    }

    .nav-menu-categories {
        font-size: 13px;
        gap: 3.5vw;
    }

    .burger-menu {
        display: none;
        cursor: pointer;
        margin-left: 30px;
    }

    .main-container {
        width: 80vw;
        margin: auto;
    }

    .section-title {
        margin-top: 60px;
        text-align: left;
        font-size: 2em;
    }

    .tab-menu {
        font-size: 24px;
        gap: 5.8vw;
    }

    .product-container {
        width: 98%;
    }

    .product-card-container {
        width: 100%;
        place-items: space-between;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        max-width: 232px;
        height: 395px;
    }
}

@media (min-width: 1440px) {

    .product-section {
        grid-template-columns: 1fr 4fr;
        width: 100%;
    }

    .product-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}